################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/GestaoProduto/FileContentIndex/cc0e5180-3921-4786-af34-170406928ee2.vsidx
/.vs/GestaoProduto/FileContentIndex/d8788985-d992-4e92-bfb2-2859390f82dc.vsidx
/.gitignore
